<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Abdullah" content="designer">
  <title>Template-2</title>

  <!-- importing google hosted libraries for jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- importing custom fonts -->
  <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="" charset="utf-8">
</head>
<body>
  <header>
    <div class="gt">
    <a href="index.html"><h1>Glamor touch</h1>
    <p>one touch .. all it takes</p></a>
  </div>
  </header>

  <section>
    <h1>MENU</h1>
    <div class="menu">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <!-- menu items -->
    <ul class="menu-items">
      <li><a href="index.html">HOME</a></li>
      <li><a href="">ABOUT US</a></li>
      <li><a href="">GALLERY</a></li>
      <li><a href="">PORTFOLIO</a></li>
      <li><a href="">BLOGS</a></li>
      <li><a href="">CONTACT US</a></li>
    </ul>
  </section>

  <section>
    <article><h3>Lorem ipsum dolor sit amet</h3>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </article>

    <article>
      <div><h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </article>

    <article>
      <div><h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </article>

    <article>
      <div><h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </article>
  </section>

  <footer>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
    <p>&copy. 2015 All rights reserved.</p>
  <p>Designed and Powered by <span>Infospec Technologies</span></p>
  </footer>

  <script type="text/javascript" src="assets/js/functions.js"></script>
</body>
</html>
