<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Abdullah" content="designer">
  <title>Template-3 Pink and Black theme</title>
  <!-- importing google hosted libraries for jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- importing custom fonts -->
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <!-- loading our own stylesheet -->
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
  <header>
    <h1 id="menu">MENU</h1>
    <div id="deco"></div>
    <h1>Glamour touch</h1>
  </header>
  <section id="sliding-pane">
    <a href="index.html"><div id="logo"></div></a>
    <ul class="nav-bar">
      <li><a href="index.html">HOME</a></li>
      <li><a href="#">BLOGS</a></li>
      <li><a href="">GALLERY</a></li>
      <li><a href="">ABOUT US</a></li>
      <li><a href="">PORTFOLIO</a></li>
      <li><a href="">CONTACT US</a></li>
    </ul>
  </section>
  <section>
    <div class="links">
      <ul class="links-items">
        <li><a href="#">Our beloved clients</a></li>
        <li><a href="#">Offers</a></li>
        <li><a href="#">Manifesto</a></li>
        <li><a href="#">Our other services</a></li>
        <li><a href="#">Site map</a></li>
      </ul>
    </div>
  </section>
  <section>
    <div id="hero-unit">
      <h1>Lorem ipsum dolor</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <img src="images/Maryoku_visdev_2.jpg" alt="hero unit image">
      <img src="images/Maryoku_visdev_2.jpg" alt="hero unit image">
      <img src="images/Maryoku_visdev_2.jpg" alt="hero unit image">
      <img src="images/Maryoku_visdev_2.jpg" alt="hero unit image">
    </div>

    <div class="notifications">
      <h4>Hits per day</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h4>Tweets</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h4>Other stuff</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </section>

  <footer>
    <div id="footer-content"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>



  </footer>

  <!-- <form action="process.php" method="post">
    Username <input type="text" name="username">
    Password <input type="password" name="username">
    <input type="button" value="Submit">
  </form> -->

    <!--<select option>
      <option>India</option>
      <option checked>uae</option>
      <option>us</option>
      <option>uk</option>
    </select> -->

  <!-- loading our own functions.js file -->
  <script type="text/javascript" src="assets/js/functions.js">
  ></script>
</body>
</html>
