/* Initial reset */
* {
  margin: 0;
  padding: 0; }

@media screen and (min-width: 320px) {
  width: 100%; }
/* declaring variables */
body {
  font-family: "Varela Round", sans-serif; }

header {
  height: 120px;
  width: 100%;
  background: linear-gradient(#000000, #696969);
  color: #FF1493;
  text-align: center;
  padding-top: 18px; }
  header #menu {
    float: left;
    font-size: 20px;
    cursor: pointer;
    margin: 81px 50px;
    padding: 15px 22px 5px;
    border: 2px solid #da70d6;
    background-color: #777;
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 5px 10px #666;
    z-index: 2; }
  header #deco {
    cursor: pointer;
    background-color: #b890b1;
    height: 20px;
    width: 110px;
    float: left;
    margin-left: -168px;
    margin-top: 82px;
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    transform: skew(-25deg);
    opacity: 0.4;
    filter: alpha(opacity=40); }

#sliding-pane {
  height: 440px;
  width: 175px;
  background: #222;
  float: left;
  margin: 30px auto auto -190px;
  padding: auto 20px;
  display: none;
  border-radius: 0 0 50px 50px;
  box-shadow: 10px 10px 10px #777;
  z-index: -1;
  opacity: 0.8;
  filter: alpha(opacity=80); }
  #sliding-pane #logo {
    height: 120px;
    width: 120px;
    position: absolute;
    margin: 25px 30px;
    background-image: url("../../images/vine.svg");
    background-position: top;
    background-size: 100%; }
  #sliding-pane .nav-bar {
    list-style-type: none;
    display: block;
    padding: 160px 0 5px;
    text-align: left;
    letter-spacing: 0.3em; }
    #sliding-pane .nav-bar li {
      margin: 0;
      padding: 10px 20px; }
      #sliding-pane .nav-bar li a {
        text-decoration: none;
        color: #FF1493; }
      #sliding-pane .nav-bar li a:hover {
        color: #fff; }
    #sliding-pane .nav-bar li:hover {
      background: linear-gradient(#FF1493, #FFC0CB);
      border-top: 1px solid #DA70D6;
      border-bottom: 1px solid #DA70D6; }

#hero-unit {
  background-color: #DCDCDC;
  border-radius: 5px;
  width: 800px;
  text-align: justify;
  margin: 5px;
  padding: 5px;
  display: inline;
  float: left; }
  #hero-unit h3, #hero-unit p {
    line-height: 1.5em; }
  #hero-unit p {
    margin-top: 20px; }
  #hero-unit img {
    width: 50%;
    display: inline;
    float: left;
    margin: 0;
    overflow: hidden; }

.notifications {
  background-color: #DCDCDC;
  border-radius: 5px;
  width: 300px;
  display: inline;
  float: left;
  margin: 5px auto;
  padding: 5px; }
  .notifications h4, .notifications p {
    line-height: 1.5em; }
  .notifications p {
    margin-top: 5px; }

.links {
  background-color: #dcdcdc;
  border-radius: 5px;
  height: 246px;
  width: 150px;
  display: inline;
  float: left;
  margin: 494px 5px 5px -170px; }
  .links .links-items {
    list-style-type: none; }

footer {
  height: 240px;
  width: 100%;
  background-image: url("../../images/Monotone-Buildings.jpg");
  background-size: 100%;
  background-position: bottom;
  float: left;
  clear: both;
  margin: 5px auto auto;
  opacity: 0.6;
  filter: alpha(opacity=60); }
  footer #footer-content {
    width: 400px;
    float: left;
    margin: 20px 5px 5px 10px;
    padding: 5px;
    text-align: justify; }
    footer #footer-content p {
      color: #fff; }

/*# sourceMappingURL=styles.css.map */
