<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Abdullah" content="designer">
    <title>Template-1</title>

    <!-- importing hosted libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/functions.js"
    ></script>
    <!-- importing custom fonts -->
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="" charset="utf-8">
  </head>
  <body>
    <header>
      <div id="handle">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </header>

    <div class="nav-bar">
      <ul class="menu">
        <li><a href="index.html">HOME</a></li>
        <li><a href="">ABOUT US</a></li>
        <li><a href="">GALLERY</a></li>
        <li><a href="">PORTFOLIO</a></li>
        <li><a href="">BLOGS</a></li>
        <li><a href="">CONTACT US</a></li>
      </ul>
      <ul class="get-social">
        <li><a href=""><img src="images/Facebook.png" alt="">Facebook</a></li>
        <li><a href=""><img src="images/twitter.png" alt="">Twitter</a></li>
        <li><a href=""><img src="images/instagram.png" alt="">Instagram</a></li>
        <li><a href=""><img src="images/LinkedinIcon.png" alt="">LinkedIn</a></li>
      </ul>
    </div>

    <div class="carousel">
      <div><img src="images/colorful_kites.jpg" alt=""></div>
      <div><img src="images/new-16.jpg" alt=""></div>
      <div><img src="images/rainy-weather.jpg" alt=""></div>
      <div><img src="images/New-York-City.jpg" alt=""></div>
    </div>

    <article>
      <h3>Lorem ipsum dol</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#">Explore</a>
    </article>
    <article>
      <h3>Lorem ipsum dol</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#">Explore</a>
    </article>
    <article>
      <h3>Lorem ipsum dol</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#">Explore</a>
    </article>

    <div class="clients">
      <aside><h3>Our beloved clients</h3></aside>
      <div id="tri"></div>
      <div><img src="clients/Idea-Clients.jpg" alt=""></div>
      <div><img src="clients/Shaking-Hands.png" alt=""></div>
      <div><img src="clients/management.jpg" alt=""></div>
      <div><img src="clients/Happy_Clients.jpg" alt=""></div>
      <div><img src="clients/marketing.jpg" alt=""></div>
    </div>
    <footer>
      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
      <p>&copy 2015. All rights reserved.</p>
      <p>Designed &amp; powered by <a href="index.html"><strong>Infospec Technologies</strong></a>.</p>
    </footer>
  </body>
</html>
